<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
    {{object.filme.sinopse}}
    {{object.data}}
    {{object.horario}}-->
        <ul>
            {% for obj in object %}
                <li><a href="/venda/{{obj.id}}">{{obj.filme.titulo}} {{obj.sala}} {{obj.data}} {{obj.horario}}</a></li>
            {%endfor%}
        </ul>
</body>
</html>