{% load static %}
{% load qr_code %}
{% load crispy_forms_tags %} 

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CineSD{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/grid.css' %}">
    <link rel="stylesheet" href="{% static '/css/carousel.css' %}">
    <link rel="stylesheet" href="{% static '/css/infomovies.css' %}">
    <link rel="stylesheet" href="{% static '/css/horarios.css' %}">
    <link rel="stylesheet" href="{% static '/css/contato.css' %}">
    <link rel="stylesheet" href="{% static '/css/venda_filme.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
 
   

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

</head>
<body>
    <header class="navbar">
        <div class="max-width">
            <div class="logo"><a href="/cinesd">Cine<span>SD</span></a></div>
            <div class="menu">
                <ul>
                   <li><a href="/cinesd">Início</a></li>
                    <li><a href="/programacao">Programação</a></li>
                    <li><a href="/snackbar">SnackBar</a></li>
					<li><a href="/promocoes">Promoções</a></li>
                    <li><a href="/contato">Contato</a></li>
                    <li><a href="/signin">
                        {% if user.is_authenticated %}
                        <h3>{{ fname }}</h3>
                        {% endif %}
                    </a></li>
                    <li><a href="#">
                        {% if user.is_authenticated %}
                        <button type="submit"><a href="/signout"> Deslogar</a></button>
                        {% else %}
                        <button type="submit"><a href="/signin">Login</a></button>
                        <button type="submit"><a href="/signup">Cadastrar</a></button>
                        {% endif %}
                    </a></li>
                </ul>
                
            </div>
        </div>        
    </header>
    <div class="center_signup">
       {% for message in messages %}
       <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
       <strong>Message:</strong> {{ message }}
       </div>
       {% endfor %}
        <h1>Cadastrar</h1>
        <form id="form_signup" action="/signup" method="post">
            {% csrf_token %}
                <div class="txt_field">
                    <input type="text" id="username" name="username" Required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="text" id="fname" name="fname" Required>
                    <span></span>
                    <label>Nome</label>
                </div>
                <div class="txt_field">
                    <input type="text" id="lname" name="lname" Required>
                    <span></span>
                    <label>Sobrenome</label>
                </div>
                <div class="txt_field">
                    <input type="email" id="email" name="email" Required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="password" id="password" name="password" Required>
                    <span></span>
                    <label>Senha</label>
                </div>
                <div class="txt_field">
                    <input type="password" id="confirm_password" name="confirm_password" Required>
                    <span></span>
                    <label>Confirme a senha</label>
                </div>
                
                <input type="submit" value="Cadastrar">
                
        </form>

        
      </div>
    
     


    <script src="{% static '/js/script.js' %}"></script>
    <script src="{% static '/js/carousel.js' %}"></script>
    <script src="{% static '/js/login.js' %}"></script>
</body>
</html>