{% load static %}
{% load qr_code %}
{% load crispy_forms_tags %} 

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CineSD{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/grid.css' %}">
    <link rel="stylesheet" href="{% static '/css/carousel.css' %}">
    <link rel="stylesheet" href="{% static '/css/infomovies.css' %}">
    <link rel="stylesheet" href="{% static '/css/horarios.css' %}">
    <link rel="stylesheet" href="{% static '/css/venda_filme.css' %}">

 
   

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

</head>
<body>
    <div class="header" id="header">
        <header class="navbar">
            <div class="max-width">
                <div class="logo"><a href="/cinesd">Cine<span>SD</span></a></div>
                <div class="menu">
                    <ul>
                        <li><a href="/cinesd">Início</a></li>
                        <li><a href="/programacao">Programação</a></li>
                        <li><a href="/snackbar">SnackBar</a></li>
                        <li><a href="/promocoes">Promoções</a></li>
                        <li><a href="/contato">Contato</a></li>
                        <li><a href="/signin">
                            {% if user.is_authenticated and user.is_active %}
                            <h3>{{ fname }}</h3>
                            {% endif %}
                        </a></li>
                        <li><a href="#">
                            {% if user.is_authenticated %}
                            <button type="submit"><a href="/signout"> Deslogar</a></button>
                            {% else %}
                            <button type="submit"><a href="/signin">Login</a></button>
                            <button type="submit"><a href="/signup">Cadastrar</a></button>
                            {% endif %}
                        </a></li>
                      
                    </ul>
                    
                </div>
            </div>        
        </header>
    </div>

    <div class="venda_filme" id="venda_filme">
   
    
        <div class="bg-modal" id="modal">
            <div class="modal">
                <span class="close" onclick="fecharModal()">&times;</span>
            </br></br></br></br>
                <div class="precos_cine" id="precos_cine">
                    <ul>
                        <li>
                            O CineSD se reserva o direito de mudar os dias e horários das sessões sem aviso prévio. Confira sempre a nossa programação
                        </li>
                        <br>
                        <li>
                            Para a compra de ingressos 3D do CineSD: o valor do óculos 3D é R$8,00 e não está incluso no valor do ingresso. Venda exclusiva na bilheteria do cinema.
                        </li>
                    </ul>
                    <br>
                    <ul>
                        <li>
                            <b>Idiomas: </b>
                            LEG: Legendado | DUB: Dublado | NAC: Nacional
                        </li>
                    <br>
                        <li>
                            <b>Sessão: </b>
                            3D: projeção com o uso de óculos 3D | MAT: CineMaterna | AZUL: Sessão Azul
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        </br>
        </br>

        
    

        <div class="dia_filme">
            <ul>
                <button id="SEG"><li><a href="">04/04</br>SEG</a></li></button>
                <button id="TER"><li><a href="">05/04</br>TER</a></li></button>                                
                <button id="QUA"><li><a href="">06/04</br>QUA</a></li></button>                            
            </ul>                
        </div>
        <!--Horários e Preço filmes-->
        <div class="teste">
            <section class="horario_movie" id="horario_movie">
               
    
                <div class="info_filme">
                    <div class="cidade_comprar">
                        <ul>
                            <li>
                                <span class="cidade" id="cidade">Petrolina</span>
                                <ul class="comprar_info">
                                    <button class="open_modal" onclick="abrirModal()" id="precos"><li>PREÇOS</li></button>      
                                    
                                </ul>
                            </li>
                        </ul>
                    </div>
                    </br>
                     <hr>
                    <div class="horarios_e_sala_segunda" id="horarios_e_sala_segunda">
                        <ul>
                            <li>
                                <span class="sala_cinema">Sala 7</span>
                                <ul class="horario_sala" id="horario_sala1">
                                    <a href="venda/95189f06-4e83-4aa1-abb7-5442e603bf54"><button id="horario"><li>21:20</li></button></a>
                                    <button id="filme_2d"><li>2D</li></button>
                                    <button id="tipo_filme"><li>DUB</li></button> 
                                    
                                </ul>
                                
                            </li>
                        </ul>
    
                       
                    </div>  
    
                    
                    
            </section>
        </div>
    
    
        <div class="teste2">
            <section class="horario_movie" id="horario_movie">
               
    
                <div class="info_filme2">
                    <div class="cidade_comprar">
                        <ul>
                            <li>
                                <span class="cidade" id="cidade">Petrolina</span>
                                <ul class="comprar_info">
                                    <button class="open_modal" onclick="abrirModal()" id="precos"><li>PREÇOS</li></button>       
                                  
                                </ul>
                            </li>
                        </ul>
                    </div>
                    </br>
                     <hr>
                    <div class="horarios_e_sala_segunda" id="horarios_e_sala_segunda">
                        <ul>
                            <li>
                                <span class="sala_cinema">Sala 7</span>
                                <ul class="horario_sala" id="horario_sala1">
                                    <a href="venda/2c9ca048-b151-4542-8ffb-d94874c1670a"><button id="horario"><li>21:20</li></button></a>      
                                    <button id="filme_2d"><li>2D</li></button> 
                                    <button id="tipo_filme"><li>DUB</li></button> 
                                    
                                </ul>
                                
                            </li>
                        </ul>
    
                </div>  
            </section>
        </div>
    
                              
        <div class="teste3">
            <section class="horario_movie" id="horario_movie">
               
    
                <div class="info_filme3">
                    <div class="cidade_comprar">
                        <ul>
                            <li>
                                <span class="cidade" id="cidade">Petrolina</span>
                                <ul class="comprar_info">
                                    <button class="open_modal" onclick="abrirModal()" id="precos"><li>PREÇOS</li></button>       
                                   
                                </ul>
                            </li>
                        </ul>
                    </div>
                    </br>
                     <hr>
                    <div class="horarios_e_sala_segunda" id="horarios_e_sala_segunda">
                        <ul>
                            <li>
                                <span class="sala_cinema">Sala 7</span>
                                <ul class="horario_sala" id="horario_sala1">
                                    <a href="venda/7cea2a65-b9e6-4b51-b15d-f81a26dec516"><button id="horario"><li>21:20</li></button></a>  
                                    <button id="filme_2d"><li>2D</li></button> 
                                    <button id="tipo_filme"><li>DUB</li></button> 
                                    
                                </ul>
                                
                            </li>
                        </ul>
    
                </div>  
            </section>
        </div>
    
    
    
       
            
        
   
    

    
   
    <script src="{% static '/js/script.js' %}"></script>
    <script src="{% static '/js/carousel.js' %}"></script>
    <script src="{% static '/js/dia_horario.js' %}"></script>
    <script src="{% static '/js/dia_horario2.js' %}"></script>
    <script src="{% static '/js/dia_horario3.js' %}"></script>
    <script src="{% static '/js/price.js' %}"></script>
</body>
</html>