{% load static %}
{% load crispy_forms_tags %} 

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CineSD - Doutor Estranho no Multiverso da Loucura{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/grid.css' %}">
    <link rel="stylesheet" href="{% static '/css/carousel.css' %}">
    <link rel="stylesheet" href="{% static '/css/infomovies.css' %}">
    <link rel="stylesheet" href="{% static '/css/horarios.css' %}">

 
   

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

</head>
<body>
    <header class="navbar">
        <div class="max-width">
            <div class="logo"><a href="">Cine<span>SD</span></a></div>
            <div class="menu">
                <ul>
                    <li><a href="/cinesd">Início</a></li>
                    <li><a href="/programacao">Programação</a></li>
                    <li><a href="/snackbar">SnackBar</a></li>
					<li><a href="/promocoes">Promoções</a></li>
                    <li><a href="/contato">Contato</a></li>
                    <li><a href="/signin">
                        {% if user.is_authenticated %}
                        <h3>{{ fname }}</h3>
                        {% endif %}
                    </a></li>
                    <li><a href="#">
                        {% if user.is_authenticated %}
                        <button type="submit"><a href="/signout"> Deslogar</a></button>
                        {% else %}
                        <button type="submit"><a href="/signin">Login</a></button>
                        <button type="submit"><a href="/signup">Cadastrar</a></button>
                        {% endif %}
                    </a></li>
                </ul>
                
            </div>
        </div>        
    </header>

    
    <!--Seção Home da tela Principal-->
    <section class="home" id="home">
        <div class="max-width">
            <!--Texto com js na tela-->
            <div class="home-content">
                <div class="text-1">Cine<span>SD</span></div>
                <div class="text-2">Que tal</div>
                <div class="text-3"> <span class="typing"></span></div>
				<a href="#">COMPRE SEU INGRESSO</a>
            </div>
        </div>
    </section>

    
    
      <!-- about section start -->
      <section class="about" id="about">
        <div class="max-width">
            <h2 class="title"></h2>
            <div class="about-content">
                <div class="column left">
                    <img src="media/img/cartaz/drstrange3.jpg" alt="">
                </div>
                <div class="column right">
                    <div class="text">Doutor Estranho no Multiverso da Loucura</div>
                    <p>02h 06min</p>
                    <div class="genre_movies">
                        <ul>
                            <button><li>Ação</li></button>  
                            <button><li>Aventura</li></button> 
                            <button><li>Fantasia</li></button>                               
                            <button id="classificacao14"><li>14+</li></button>                              
                                                       
                        </ul>
                    </div>
                </br>
                    <hr size="1" >
                </br>    
                    <h1>Sinopse e Detalhes</h1>
                    <p>Data de lançamento: 05/05/2022</p>
                    <p>Direção: Sam Raimi</p>
                    <p>Nacionalidade: Estados Unidos</p>
                    <p>Em Doutor Estranho no Multiverso da Loucura, após derrotar Dormammu e enfrentar Thanos nos eventos de Vingadores: Ultimato, o Mago Supremo, Stephen Strange (Benedict Cumberbatch), e seu parceiro Wong (Benedict Wong), continuam suas pesquisas sobre a Joia do Tempo. Mas um velho amigo que virou inimigo coloca um ponto final nos seus planos e faz com que Strange desencadeie um mal indescritível, o obrigando a enfrentar uma nova e poderosa ameaça. O longa se conecta com a série do Disney+ WandaVision e tem relação também com Loki. O longa pertence a fase 4 do MCU onde a realidade do universo pode entrar em colapso por causa do mesmo feitiço que trouxe os vilões do Teioso para o mundo dos Vingadores e o Mago Supremo precisará contar com a ajuda de Wanda (Elizabeth Olsen), que vive isolada desde os eventos de WandaVision.</p>
                    
                </div>
            </div>
        </div>
    </section>
    <div class="bg-modal" id="modal">
        <div class="modal">
            <span class="close" onclick="fecharModal()">&times;</span>
        </br></br></br></br>
            <div class="precos_cine" id="precos_cine">
                <ul>
                    <li>
                        O CineSD se reserva o direito de mudar os dias e horários das sessões sem aviso prévio. Confira sempre a nossa programação
                    </li>
                    <br>
                    <li>
                        Para a compra de ingressos 3D do CineSD: o valor do óculos 3D é R$8,00 e não está incluso no valor do ingresso. Venda exclusiva na bilheteria do cinema.
                    </li>
                </ul>
                <br>
                <ul>
                    <li>
                        <b>Idiomas: </b>
                        LEG: Legendado | DUB: Dublado | NAC: Nacional
                    </li>
                <br>
                    <li>
                        <b>Sessão: </b>
                        3D: projeção com o uso de óculos 3D | MAT: CineMaterna | AZUL: Sessão Azul
                    </li>
                </ul>
            </div>
        </div>
    </div>

    </br>
    </br>

    
  
    <div class="botao_comprar">
        <a href="/venda_drstrange2"><button>Comprar Ingresso</button></a>
        </div>
        
        <!--detaildoutor/f232ceff-ba6b-4daf-970b-1ae5e885e5e2-->
   
       
    <script src="{% static '/js/script.js' %}"></script>
    <script src="{% static '/js/carousel.js' %}"></script>
    <script src="{% static '/js/dia_horario.js' %}"></script>
    <script src="{% static '/js/dia_horario2.js' %}"></script>
    <script src="{% static '/js/dia_horario3.js' %}"></script>
    <script src="{% static '/js/price.js' %}"></script>
</body>
</html>